/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');

/* font-family: 'Montserrat', sans-serif; */
/* font-family: "Poppins", sans-serif; */

/*
   ----------- "root" -----------
    - background color ( body ) : #171717
    - nickname color ( h3 ) : #FAF752
    - tag color ( span ) : #E1E1E6
    - profile base color : #202124
   ------------------------------
*/

body { /* background*/
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #040a0a;
}

.profile { /* profile strcuture and layot */
    width: 340px;
    overflow: hidden;
    background: #202124;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.banner img { /* banner settings */
    width: 100%;
    height: 90px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.pfp img { /* profile picture settings */
    z-index: 1;
    width: 100px;
    height: 100px;
    position: relative;
    margin-top: -75px;
    display: block;
    margin-left: 25px;
    margin-right: auto;
    border-radius: 100px;
    border: 10px solid #202124;
    transition-duration: 0.4s;
    transition-property: transform;
}

.pfp img:hover { /* profile picture hover settings */
    transform: scale(1.1);
}

.profile__content h3 { /* name settings */
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #52faec;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 7%;
    margin-right: auto;
    text-align: start;

}

#profile__status{ /* tag settings */
    color: #E1E1E6;
    margin-left: 7%;
    margin-right: 7%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

#profile__status img{ /* tag settings */
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.profile__tag{ /* tag settings */
    color: #E1E1E6;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
}


.profile__content p { /* aboutme settings */
    color: #E1E1E6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-left: 7%;
    text-align: start;
}

.aboutme__title { /* aboutme settings */
    font-weight: 700;
}

.socials { /* general settings of socials */
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
}

.socials a { /* icons settings of socials */
    text-decoration: none;
    font-size: 20px;
    color: rgb(82, 250, 236);
    margin-top: 0;
    padding: 0 14px;
    transition-duration: 0.4s;
    transition-property: transform;
}

.socials a:hover { /* icons hover settings of socials */
    transform: scale(1.2);
}

.projects__button { /* general settings of socials */
    text-align: center;
    padding-top: 14px;
    padding-bottom: 12px;
}

.projects__button a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-size: 17px;
    background-color: rgb(82, 250, 236);
    margin-top: 0;
    color: white;
    border-radius: 15px;
    padding: 0 14px;
    transition: ease-in-out 0.3s;
}

.projects__button a:hover {
    font-size: 19px;
}

hr{
    width: 87%;
    margin-left: auto;
    margin-right: auto;
}
